{% extends 'mainTemplate.html.twig' %}

{% block title %}CarWash Master | Profile{% endblock %}
 {%  block stylesheets %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ asset('tools/css/libs.css') }}" media="screen" />
  <link rel="stylesheet" href="{{ asset('tools/css/styles.css') }}" media="screen" />
  <link rel="icon" href="{{ asset('tools/img/favicon.png') }}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ asset('tools/img/favicon.png') }}" type="image/x-icon"/>
  <style>
    /* Add your CSS styles here */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

    }

    main {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 5px;
      background-image: url(../../public/tools/img/photo-1419332563740-42322047ff09.jpg);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    form {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="file"] {
      margin-top: 5px;
    }

    button[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    footer {
      background-color: #f5f5f5;
      color: #333;
      padding: 10px;
      text-align: center;
    }
  </style>
{% endblock  %}
{% block body %}
<body>

<main>
  {{ form_start(form) }}
  {{ form_row(form.firstName) }}
  {{ form_row(form.lastName) }}

  {{ form_row(form.country) }}
  {{ form_row(form.state) }}
  {{ form_row(form.city) }}
  {{ form_row(form.email) }}
  {{ form_row(form.password) }}
  {{ form_row(form.carMake) }}
  {{ form_row(form.carModel) }}
  <br>
  <button type="submit">Create Profile</button>
  {{ form_end(form) }}
</main>

<footer>
  <p>&copy; 2024 Your Website. All rights reserved.</p>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" defer></script>
<script src="{{ asset('tools/js/maps.js') }}" type="text/javascript" defer></script>
<script src="{{ asset('tools/js/plugins.js') }}" type="text/javascript" defer></script>
{% endblock %}
