{% block sideBar %}
     <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
       <a href="index3.html" class="brand-link">
         <img src="{{ asset('dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
         <span class="brand-text font-weight-light">Car Wash</span>
       </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="image">

          <img src="{{ asset('uploads/user1.jpg') }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{{ path('profile_page') }}" class="d-block"> {{ app.user.firstName }} {{ app.user.lastName }}</a>
        </div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Accueil
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('home_page') }}" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('profile_page') }}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Profile</p>
            </a>
          </li>
            <!-- Custom link for Customers -->
          <li class="nav-item">
            <a href="{{ path('car_wash_add') }}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Point de lavage</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('mail_box_page') }}" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>Boites aux lettres</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('show_Profile_saved') }}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>List des Profils  </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('calendar_page') }}" class="nav-link">
              <i class="nav-icon fas fa-clock"></i>
              <p>Calendrier</p>
            </a>
          </li>
            <!-- Add this code snippet in your sidebar template after the existing links -->
          <li class="nav-item">
            <a href="logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>se déconnecter</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endblock %}